<body>
<h2>A test</h2>
<p>This is a test page</p>
<iframe class="test-iframe" src="https://mdn-samples.mozilla.org/snippets/html/iframe-simple-contents.html" title="iframe example 1" width="400" height="300">
  <p>Your browser does not support iframes.</p>
</iframe>
</body>
